{
    "rules": {
        "max-len": [2, 150],
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
            "functions": "never"
        }],
        "no-underscore-dangle": 0
    },
    "globals": {
        "window": true,
        "fetch": true,
        "document": false
    }
}
